syntax:glob

*~
*.pyc
*.mo
.svn
.DS_Store
.vagrant
dev.db
vp.log

.sass-cache
uploads
ssh/
*.todo
tmp/
.nose*
.coverage*
files.zip
zz_*



.project
.pydevproject
.ropeproject
.settings
.install_source
syntax: glob
.python-version
bin/
env/
include/
lib/
share/